@font-face {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 100;
	src: local('Lato Hairline'), local('Lato-Hairline'), url(font.woff) format('woff');
}
.header,.menu,.body,.footer{
	padding:0;
	margin:0;
}
.header{
	min-height:80px;
	border-top:10px solid green;
}
.title {
	font-size: 40px;
	font-weight: bold;
	color: #454746;
}
.menu {
	border-top:1px solid #7BD87B;
    border-bottom:1px solid #7BD87B;
}
.body {
    min-height:600px;
}
.footer {
    padding:10px 0 5px;
    min-height:50px;
    border-top:2px solid rgba(0,0,0,0.1);
}

/*****************menu details*******************/

.menu ul.nav{
	padding:0;
	margin:0;
}
ul.nav li{
	list-style: none;
	display:block;
	width: 100px;
	float:left;
}
ul.nav li:first-child a{
	display:block;
	border-left:1px solid #bbb;
	text-align: center;
	margin:0;
}
ul.nav li a{
	display:block;
	border-right:1px solid #bbb;
	text-align: center;
	margin:0;
}


/**********************************************/

.body .content{
	padding-top:20px;
}